<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Predicting Bike Share Rentals</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <script>
    $(function () {
      $("#datepicker").datepicker();
    });
  </script>

</head>
<img align="right" width="30%" height="30%" src="../static/image-capital_bikeshare.png" alt="Capital Bike Share Logo">

<br>
<img align="left" width="30%" height="30%" src="../static/Frankfurt_School_Logo.jpg" alt="Frankfurt School Logo">

<body style="background: #ffffff;">
  <div class="login">
    <font face="Verdana">
      <center><br>
        <h1>
          <font face="Verdana" size="20">Bikerus</font>
        </h1>

        <br>
        <br>
        <h2>Live Demo!</h2>
        <br>
        <br>
        <br>
        <br>
        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}" method="post">
          <input type="date" id="date" name="date" value="2012-10-12" min="2012-08-09" max="2012-12-31"
            required="required" style="font-size: 3rem"> <br> <br>
          <!-- yyyy-mm-dd -->
          <input type="text" id="hour" min="0" max="23" name="hour" style="font-size: 3rem" placeholder="Hour of day"
            required="required" /> <br><br>
          <button type="submit" style="font-size: 3rem" class="btn btn-primary btn-block btn-large">Predict bike share
            rentals!</button>
        </form>

        <br>
        <br>
        <center>
          <h2>
            <p>The selected timeframe is:<br>{{ date }}</p>
          </h2>
        </center>
        <div style="width: 100%; overflow: hidden;">
          <div style="width: 33.3%; float: left;">
            <img align="middle" width="80%" height="80%" src="../static/image-capital_bikeshare.png"
              alt="Capital Bike Share Logo"><br> {{ prediction }}
          </div>
          <div style="width: 33.3%; float: left;"><img align="middle" width="80%" height="80%"
              src="../static/image_catboost.png" alt="Catboost Logo"><br> {{ Catboost }} </div>
          <div style="width: 33.3%; float: left;"><img align="middle" width="60%" height="60%"
              src="../static/scitlearn-logo.png" alt="Scikit learn Logo"><br>
            <p>Neural net: </p>{{ Neural_net }} <br>
            <p>Random forest: </p> {{ random_forest}}
          </div>
          <br style="clear: left;" />
        </div>
        {{ cnt }}
    </font>
    </center>
  </div>
</body>

</html>