<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Predicting Bike Share Rentals</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <script>
    $(function () {
      $("#datepicker").datepicker();
    });
  </script>

</head>
<style>
  .half-line {
    line-height: .005em;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
<img align="right" width="20%" height="20%" src="../static/image-capital_bikeshare.png" alt="Capital Bike Share Logo">

<br>
<img align="left" width="20%" height="20%" src="../static/Frankfurt_School_Logo.jpg" alt="Frankfurt School Logo">

<body style="background: #ffffff;">
  <div class="login">
    <font face="Verdana">
      <center>
        <br>
        <h1>
          <font face="Verdana" size="20">Bikerus</font>
        </h1>
        <br>
        <h2>This website is the live demonstration for the Bikerus <a
            href="https://github.com/Estreuselito/bikerus">GitHub Repository</a>. Our team members are: <a
            href="https://github.com/Estreuselito">Yannik Suhre</a>,
          <a href="https://github.com/Schuyler-lab">Skyler MacGowan</a>, <a href="https://github.com/jacobumland">Jacob
            Umland</a>, <a href="https://github.com/TazTornadoo">Jan Faulstich</a>, and <a
            href="https://github.com/Sydow93">Sebastian Sydow</a>. We hope you enjoy predicting bike share rentals!
        </h2>
      </center>
      <br>
      <center>
        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}" method="post">
          <input type="date" id="date" name="date" value="2012-10-12" min="2012-08-09" max="2012-12-31"
            required="required" style="font-size: 2rem"> <br> <br>
          <!-- yyyy-mm-dd -->
          <input type="text" id="hour" min="0" max="23" name="hour" style="font-size: 2rem" placeholder="Hour of day"
            required="required" /> <br><br>
          <button type="submit" style="font-size: 2rem" class="btn btn-primary btn-block btn-large">Predict bike share
            rentals!</button>
        </form>
      </center>
      <br>
      <br>
      <center>
        <h2>
          <p>The selected timeframe is:<br>{{ date }}</p>
        </h2>
      </center>
      <div style="width: 100%; overflow: hidden;">
        <div style="width: 30%; float: left;">
          <img align="middle" width="80%" height="80%" src="../static/image-capital_bikeshare.png"
            alt="Capital Bike Share Logo"><br>
          <center>
            <h2> {{ prediction }} </h2>
          </center>
        </div>
        <div style="width: 33.3%; float: left;"><img align="middle" width="80%" height="80%"
            src="../static/image_catboost.png" alt="Catboost Logo"><br>

          <center>
            <table>
              <tr>
                <th>
                  <h2>Model</h2>
                </th>
                <th>
                  <h2>Prediction</h2>
                </th>
              </tr>
              <tr>
                <td>
                  <h2>Catboost random split & grid CV:</h2>
                </td>
                <td>
                  <h2>{{ catboost_rs }}</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>Catboost time series split & grid CV:</h2>
                </td>
                <td>
                  <h2>{{ catboost_ts_gridcv }}</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>Catboost time series split & times series CV: </h2>
                </td>
                <td>
                  <h2>{{ catboost_model_ts_tscv }}</h2>
                </td>
              </tr>
            </table>
          </center>
        </div>
        <div style="width: 33.3%; float: left;"><img align="middle" width="60%" height="60%"
            src="../static/scitlearn-logo.png" alt="Scikit learn Logo"><br>
          <p class="half-line"></p>
          <table>
            <tr>
              <th>
                <h2>Model</h2>
              </th>
              <th>
                <h2>Prediction</h2>
              </th>
            </tr>
            <tr>
              <td>
                <h2>Neural net random split & grid CV:</h2>
              </td>
              <td>
                <h2>{{ NN_regr_CV_model_rs_gridcv }}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2>Neural net time series split & grid CV:</h2>
              </td>
              <td>
                <h2>{{ NN_regr_CV_model_ts_gridcv }}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2>Neural net time series split & times series CV:</h2>
              </td>
              <td>
                <h2>{{ NN_regr_CV_model_ts_tscv }}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2>SVR random split & grid CV:</h2>
              </td>
              <td>
                <h2>{{ SVR_regr_CV_model_rs }}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2>SVR time series split & grid CV:</h2>
              </td>
              <td>
                <h2>{{ SVR_regr_CV_model_ts }}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2>SVR time series split & times series CV:</h2>
              </td>
              <td>
                <h2>{{ SVR_regr_CV_model_ts_tscv }}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2>RF random split & grid CV:</h2>
              </td>
              <td>
                <h2>{{ random_forest_rs_gridcv }}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2>RF time series split & grid CV:</h2>
              </td>
              <td>
                <h2>{{ random_forest_model_ts_gridcv }}</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2>RF time series split & times series CV:</h2>
              </td>
              <td>
                <h2>{{ random_forest_ts_tscv }}</h2>
              </td>
            </tr>
          </table>
        </div>
        <br style="clear: left;" />
      </div>
      {{ cnt }}
      <i>Disclaimer: All product names, logos, and brands are property of their respective owners. All company, product
        and service names used in this website are for identification purposes only. Use of these names, logos, and
        brands does not imply endorsement.</i>
    </font>
    </center>
  </div>
</body>

</html>